<!-- footer
   ================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">
            <div class="footer-sections">
                <div class="location">
                    <h2>Location</h2>
                    <h3>Kala Niwas, Plot no.6, Yamuna Nagar, Kamatwade, Nashik 422009</h3>
                </div>
                <div class="follow">
                    <h2>Follow</h2>
                    <ul class="social-links">
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                     </ul>
                </div>
                <div class="contact">
                    <h2>Contact</h2>
                    <h3>sneha.p27993@gmail.com</h3>
                </div>
            </div>
           

            <div class="author">
                <p>Made in <img width="12" height="12" src="/assets/images/angular.png"/> Angular.js - 2021-2022 Sneha Pawar</p>
            </div>

        </div>
    </div>

</footer> <!-- Footer End-->