<!-- Header
   ================================================== -->
   <header id="home">

    <nav id="nav-wrap">
     
       <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
      <div class="d-flex">
         <h3>Sneha Pawar</h3>
         <ul id="nav" class="nav">
            
            <li class="current"><a class="smoothscroll" [routerLink]="'/layout'">Home</a></li>
            <li><a class="smoothscroll" [routerLink]="'/layout/about'">About</a></li>
             <li><a class="smoothscroll" [routerLink]="'/layout/skills'">Skills</a></li>
            <li><a class="smoothscroll" href="#portfolio">Works</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->
      </div>
     

    </nav> <!-- end #nav-wrap -->
 </header> <!-- Header End -->