<div class="home-content">
    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">{{'home.headline' | translate}}</h1>
            <h3 innerHtml="{{ 'home.desc' | translate}}"></h3>
            <h3>Let's learn more <a class='smoothscroll' [routerLink]="'/layout/about'">about me</a>.</h3>
            <hr />
            <ul class="social">
                <li><a href="#"><i class="fa fa-github"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>