<div class="about-content">
    <div class="d-flex about-whoAmI-section">
        <img src="/assets/images/lady-dev.gif" />
        <div class="whoAmI">
            <h2>{{ 'about.whoAmI' | translate }}</h2>
            <h3> {{ 'about.description' | translate }}</h3>
        </div>
    </div>
    <div class="about-me-section">
        <div class="profile-pic">
            <img src="/assets/images/lady-dev.gif"/>
        </div>
        <div class="about-me-description">
            <h2>About Me</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
            
            <div class="experience-section">
                <h2> Experience </h2>
                <ul>
                    <li>Winjit Technologies</li>
                    <li>Winjit Technologies</li>
                    <li>Winjit Technologies</li>
                    <li>Winjit Technologies</li>
                    <li>Winjit Technologies</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="Profile-summary">
        <h3>Motivated software engineer looking to pursue a successful career in software development at Company X, where I can help in the delivery of state-of-the-art software solutions. Experience includes coding, troubleshooting, and testing for my own personal projects while at University X. Relevant skills include PHP, Data Structures, Machine Learning, and Debugging.</h3>
    </div>

    <div class="services">
        <h2 class="align-center"> Services </h2>
        <div class="service-desc">
            <div class="card">
                <img />
                <h3 class="align-center">Web Designing</h3>
            </div> 
            <div class="card">
                <img />
                <h3 class="align-center">Template Designing</h3>
            </div> 
            <div class="card">
                <img />
                <h3 class="align-center">Responsive Website</h3>
            </div> 
        </div>

        <div class="service-desc">
            <div class="card">
                <img />
                <h3 class="align-center">User Experience</h3>
            </div> 
            <div class="card">
                <img />
                <h3 class="align-center">UI Research</h3>
            </div> 
            <div class="card">
                <img />
                <h3 class="align-center">Graphic Work</h3>
            </div> 
        </div>

        <div class="service-desc">
            <div class="card">
                <img />
                <h3 class="align-center">UI Development</h3>
            </div> 
            <div class="card">
                <img />
                <h3 class="align-center">eCommerce</h3>
            </div> 
            <div class="card">
                <img />
                <h3 class="align-center">Enterprise App Development</h3>
            </div> 
        </div>

    </div>


</div>