<div class="skillsContainer">
    <div class="skillsHeader">
        <h2 class="fw-600">Skills & Techniques</h2>
    </div>
    <div class="skillContent">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/angular.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Angular</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/HTML.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">HTML</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/CSS.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">CSS</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/sass.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">SASS</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/bootstrap.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Bootstrap</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/Javascript.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">JavaScript</h3>
                </div>
            </div>
        </div>
       
    </div>
    <div class="skillContent">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/typescript.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">TypeScript</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/Angular-Material.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Material UI</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/npm.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Node.js</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/npm.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">npm</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/angular.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Git</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/angular.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">GitHub</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="skillContent">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/angular.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">BitBucket</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/typescript.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Jira</h3>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/npm.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Visual Studio Code</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/angular.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Sublime Text</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/angular.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">Notepad++</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <img src="/assets/images/angular.png"/>
                </div>
                <div class="card-details text-center">
                    <h3 class="mb-0 fw-600">BitBucket</h3>
                </div>
            </div>
        </div>
    </div>
</div>