// html, body { height: 100%; }
// body { 
//     margin: 0; 
//     font-family: Roboto, "Helvetica Neue", sans-serif; 
//     background-color: #eee !important;
// }

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

// Margin
.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0;
}

// font and family 
.fw-600 {
    font-weight: 600 !important;
}

h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}

ul {
    list-style-type: square;
  }

.align-center {
    text-align: center;
  }
 
